.userCard__border {
    width: 1116px;
    border: 1px solid black;
    margin-top: -3px;
}

.userCard {
    width: 996px;
    margin: 0 auto;
    border: 1px solid black;
}

.userCard__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.userCard__button {
    width: 200px;
    height: 44px;
    font-size: 15px;
    margin: 0;
    font-family: AlegreyaSans, sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: black;
    padding: 0;
}