.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 61px;
    height: 70px;
}

.header__title {
    color: white;
    font-size: 28px;
    line-height: 60px;
    letter-spacing: 2px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 474px;
}

.header__button-version,
.header__button-profile {
    font-family: AlegreyaSans, sans-serif;
    padding: 11px 40px;
    background-color: white;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

.header__button-version {
    width: 257px;
}

.header__button-profile {
    width: 205px;
}