.postPage {
    width: 1114px;
    margin: 0 auto;
}

.postPage__post-wrapper {
    border: 1px solid black;
    width: 1114px;
    margin: 0 auto;
}

.postPage__comments-wrapper {
    border: 1px solid black;
    width: 1114px;
    margin: -1px auto;
}

.postPage__post,
.postPage__comments {
    width: 996px;
    margin: 0 auto;
}

.postPage__button {
    width: 220px;
    height: 44px;
    font-size: 15px;
    font-family: AlegreyaSans, sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: black;
    padding: 0;
    margin: 20px 0 40px 866px;
}